
.wrapper {
  /* max-width: 700px; */
  /* margin: 0 auto; */

}
.form-wrapper{
  /* margin: auto; */
  margin-left: 160px;
  width: 900px;
  
}
.table{
  margin-left: -130px;
 /* text-indent: -12px; */
 
}


